body{
	overflow-x: hidden; 
	background-color: #FFE5E6;
	padding-top: 38px;
 
}

#panelTabs{
	background-color: #9d0532;
	color: #FFE5E6;
	padding: 0 8px;
    font-size: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    white-space: nowrap;
    overflow: auto;
}

#panelCont, #MpanelData{ padding: 20px; }

#panelTabs > a{
	padding: 8px;
	margin-right: 5px;
	display: inline-block;
}
#panelTabs > a.active{ 
	border-bottom: 4px solid #DCAAAA; 
	font-weight: bold;
	color: #DCAAAA !important;
	cursor: default;
	padding-bottom: 4px;
}


#MpanelData a:hover{color: #DA8888;}

#MpanelData small{
	line-height: 1.2;
	display: block;
}

#MpanelPhoto{
	height: calc(100% - 38px);
	overflow-y: auto;
    overflow-x: hidden;
	background-color: #FFFFFF;
}



#panelPhoto:before, #panelPhoto:after{
	content: ' ';
	display: table;
}

#panelPhoto:after{
	clear: both;
}

#panelPhoto > div{
	width: 100%;
    float: left;
    padding: 5px;
    position: relative;

}

#panelPhoto > div .panelImgBtn{
	position: absolute;
	width: calc(100% - 10px);
	padding: 10px;
	text-shadow: -0.5px -0.5px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	cursor: move;
}
#panelPhoto > div .panelImgBtn > *{cursor: pointer;}

#panelPhoto .panelImgBtn > .fa-reply,
#panelPhoto .panelImgBtn > .fa-share{margin-left: 15px;}

#panelPhoto > div > img{
	width: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 4px;
	display: block;
	cursor: pointer;
}


input.panelImgOptTg:checked + .panelImgOpt{
	display: block;
}
.panelImgOpt{
	background-color: #FFFFFF;
	position: absolute;
	left: 0;
	right: 0;
	display: none;
	padding: 5px;
	color: #666666;
	text-shadow: none;
	z-index: 1;
	
	margin-left: -10px;
	margin-right: -10px;
	margin-top: 6px;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.panelImgOpt:before{
	content: '';
	display: block;
	width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #FFFFFF;
    font-size: 0;
    line-height: 0;
    position: absolute;
	top: 0;
	left: 13px;
	margin-top: -7px;
}

.panelImgOpt > .moreOpt{
	border-top: 1px solid #DDD;
	margin: 5px -5px 0;
	padding-top: 5px;
}

.panelImgOpt > .moreOpt > div{
	padding: 0 5px;
	cursor: pointer;
}
.panelImgOpt > .moreOpt > div:hover{background-color: #EEEEEE;}


.panelImgOpt > .labelList input, 
.panelImgOptTg,
#panelCont.panelSocial label > input{
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
.panelImgOpt > .labelList > label{
	padding: 2px 5px;
	display: block;
	border-radius: 4px;
	margin-top: 3px;
	background-color: #FDF4F5;
	border: 1px solid #FBE5E8;
	
}
.panelImgOpt > .labelList > label:first-child{margin-top: 0;}

.panelImgOpt > .labelList .fa{
	float: right;
	margin-top: 2px;
	margin-left: 5px;
	opacity: 0;
}

.panelImgOpt > .labelList input:checked + .fa{opacity: 1;}


#MpanelData .col-xs-15{
    margin-bottom: 15px;
}

#MpanelData .row{
	margin-left: -15px;
	margin-right: -15px;
}

#inputSocialNet > .row{
	margin-right: -15px;
	margin-left: -15px;
}


#MpanelData label,
#inputSocialNet label{
	font-weight: 500;
	margin-bottom: 4px;
    display: inline-block;
}

#inputSocialNet > .row > div > input{
	width: calc(100% - 34px);
	display: inline-block;
	border-radius: 0 4px 4px 0;
	border-left: none;
}



#inputSocialNet > .row > div > span{
	height: 34px;
	width: 34px;
	padding: 7px 0;
	display: block;
	float: left;
	text-align: center;
	background-color: #DCAAAA;
	color: #FFE5E6;
    border-radius: 4px 0 0 4px;
}

#radioTravel{
	padding-top: 10px;
}

#radioTravel > label{
	width: 50%;
	display: block;
	float: left;
	text-align: center;
}
#radioTravel > label > input{
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
#radioTravel > label > span > i{display: none;}
#radioTravel > label > input:checked + span > i{display: inline-block;}
#radioTravel > label > span{
	border-radius: 50px;
	padding: 5px 20px;
	background-color: #FFFFFF;
	border: 1px solid #DCAAAA;
}

#descripcionCont p{
	line-height: 1;
    
    margin-bottom: 20px;
    
}

#descripcionCont h4{
	margin-top: 0;
	margin-bottom: 10px;
}

#descripcionCont{margin-bottom: 30px;}


#verifyName{
	position: relative;
	color: #dcaaaa;
}
#verifyName > i{
	position: absolute;
    top: 8px;
    font-size: 16px;
    right: 8px;
    color: #dcaaaa;
    display: none;
}
#verifyName.available > .fa-check{display: block;}
#verifyName.notAvailable > .fa-times{display: block;}

#verifyName.verifying > a, 
#verifyName > span, 
#verifyName.available > a, 
#verifyName.available > span,
#verifyName.notAvailable > a,
#verifyName.notAvailable >span{ display: none; }

#verifyName.verifying > span{
	display: block;
	color: #dcaaaa;
}

-webkit-@keyframes rotation{
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
-moz-@keyframes rotation{
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
@keyframes rotation{
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

#verifyName.verifying .fa-spinner{
	-webkit-animation: rotation 3s infinite linear;
	   -moz-animation: rotation 3s infinite linear;
	        animation: rotation 3s infinite linear;
}

#verifyName.available:after{content: 'nombre disponible';}
#verifyName.available.verifying:after{content: '';}
#verifyName.notAvailable:after{content: 'teclea otro nombre por favor';}
#verifyName.notAvailable.verifying:after{content: '';}
#verifyName.notEmpty:after{content: 'teclea un nombre por favor';}
#verifyName.notEmpty.verifying:after{content: '';}

#verifyName.available > input,
#verifyName.notAvailable > input{padding-right: 30px;}





/*  Acerca de mí  */
#mce_editor_0.mceEditorIframe{
	width: 100%!important;
	height: 100% !important;
    display: block;
}
#mce_editor_0_parent.mceEditorContainer > table{
	min-width: 100%;
	min-height: 450px;
}
#mce_editor_0_toolbar{
	text-align: center;
	background-color: #FDCCCD;
}
#mce_editor_0_parent a.mceButtonNormal img, #mce_editor_0_parent a.mceButtonSelected img {
    border-color: #FDCCCD !important;
}
#mce_editor_0_parent span.mceMenuButton img, #mce_editor_0_parent span.mceMenuButtonSelected img {
    border-color: #FDCCCD;
    margin-left: 1px;
}

#mce_editor_0_parent .mceStatusbarBottom{background-color: #FDCCCD;}

#mce_editor_0_parent > table{
	margin: auto;
	border-color: #FBBCBD;
}



/*  Mis fotos  */


#MpanelPhoto > div{
	float: left;
	padding: 5px;
}

#galeTags{ 
	width: 30%; 
	background-color: #FFE5E6;
}

#panelPhoto{
	background-color: #FFFFFF;
	width: 70%;
}

#uploadImg > label{
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	padding-top: 30%;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #DCAAAA;
    cursor: pointer;
}

#uploadImg > img{ border: 1px solid #DCAAAA; }


#uploadImg i{
	display: block;
    font-size: 30px;
}

#uploadImg input{
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

#galeTags > .galeTag{
	margin: 5px;
	margin-bottom: 10px;
	position: relative;
	cursor: pointer;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

#galeTags > .galeTag:last-child{
	margin-bottom: 10px;
}

#galeTags > .galeTag > div > .fa-times{
	float: right;
	text-shadow: -0.5px -0.5px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    padding: 3px;
}

#galeTags > .galeTag > div{
	background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s;
}

#galeTags > .galeTag.over > div{background-color: rgba(0, 0, 0, 0);}

-webkit-@keyframes zoomImg{
	from {transform: scale(1,1);}
	to   {transform: scale(1.2,1.2);}
}
-moz-@keyframes zoomImg{
	from {transform: scale(1,1);}
	to   {transform: scale(1.1,1.1);}
}
@keyframes zoomImg{
	from {transform: scale(1,1);}
	to   {transform: scale(1.15,1.15);}
}


#galeTags > .galeTag.drop, #panelPhoto > .panelPhotos.drop{
	-webkit-animation: zoomImg 0.2s 2 alternate ease-in-out;
	   -moz-animation: zoomImg 0.2s 2 alternate ease-in-out;
		    animation: zoomImg 0.2s 2 alternate ease-in-out;
}


/*#galeTags > .galeTag.overSlow > div{
	transition: background-color 1s;
}*/




#galeTags > .galeTag > div > div{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 4px;
    line-height: 1;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

#galeTags > .galeTag > img{
	width: 100%;
}

#addLabel{
	padding: 5px;
	position: relative;
}

#addLabel > input{
	font-size: 11px;
	
}

#addLabel > .fa{
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
}

#addLabel > input:focus{padding-right: 20px;}

#addLabel > input:focus ~ .fa{
	display: block;
}


#panelCont.panelSocial > div{
	margin-bottom: 20px;
}

#panelCont.panelSocial > .checkboxBlock > label{
	font-size: 15px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
}

#panelCont.panelSocial > .checkboxBlock > label > span{
	background-color: #FFFFFF;
	padding: 2px 3px;
    border: 1px solid #DCAAAA;
    border-radius: 4px;
    font-size: 12px;
    margin-right: 2px;
}

#panelCont.panelSocial > .checkboxBlock label .fa-check{opacity: 0;}
#panelCont.panelSocial > .checkboxBlock label > input:checked ~ span > .fa-check{opacity: 1;}

#modalImgPanelCont{
	position: fixed;
	top: 38px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	opacity: 0;
	background-color: #FFE5E6;
	padding: 10px;
	-webkit-transition: opacity 0.3s;
	   -moz-transition: opacity 0.3s;
	        transition: opacity 0.3s;
}
#modalImgPanelCont.show{opacity: 1;}

#modalImgPanel{
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}





/*  bootbox css  */

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.bootbox-close-button{margin-left: 10px;}

.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}




@media (min-width: 768px){
	#panelPhoto > div{
		width: 20%;
	}

	#galeTags > .galeTag > div > div{font-size: 12px;}

	#galeTags{
		width: 13%;
	}

	#panelPhoto{
		width: 87%;
	}

	#panelPhoto > div .panelImgBtn{
		padding: 4px 5px;
	}

	#galeTags > .galeTag > div > .fa-times,
	#panelPhoto > div .panelImgBtn
	{display: none;}

	#panelPhoto > .panelPhotos:hover{z-index: 5;}

	#panelPhoto > .panelPhotos:hover > .panelImgBtn,
	#galeTags > .galeTag:hover > div > .fa-times
	{display: block;}

	#panelPhoto .panelImgBtn > .fa-reply,
	#panelPhoto .panelImgBtn > .fa-share{margin-left: 5px;}

	.panelImgOpt > .labelList > label, .panelImgOpt{ font-size: 12px;}

}
