body{
	overflow-x: hidden; 
	background-color: #FFE5E6;
	/* background de los radios y de los input addon: #F9C5C8; */
	/* background de btn-pink: #FFDBDD; */
	/* border-color de btn-pink: #FDCCCD; */
}

.btn-round{
	background-color: rgba(0,0,0,0.3);
    border-radius: 33px;
    color: #FFFFFF !important;
    margin: 0 5px 5px;
}


#MpanelData a:hover{color: #DA8888;}

#MpanelData small{
	line-height: 1.2;
	display: block;
}

#MpanelPhoto > h4, #MpanelData > h4{
	margin: 0;
	margin-bottom: 10px;
	color: #9D0532;
}
#MpanelData > h4{
	margin-bottom: 20px;
	text-align: center;
}

#MpanelPhoto{
	padding: 10px;
	height: 100%;
}

#panelPhoto{
	background-color: #FFFFFF;
    margin-left: -10px;
	margin-right: -10px;
	padding: 8px;
    height: calc(100% - 65px);
	overflow: auto;
}

#panelPhoto:before, #panelPhoto:after{
	content: ' ';
	display: table;
}

#panelPhoto:after{
	clear: both;
}

#panelPhoto > div{
	width: 20%;
    float: left;
    padding: 10px;
    position: relative;
}

#panelPhoto > div .panelImgBtn{
	position: absolute;
	width: calc(100% - 20px);
	padding: 2px 5px;
	text-shadow: 0 0 2px rgba(0,0,0,0.5);
	color: #FFFFFF;
	display: none;
}

#panelPhoto > .panelPhotos:hover > .panelImgBtn{display: block;}

#panelPhoto > div > img{
	width: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 4px;
	display: block;
}


input.panelImgOptTg:checked + .panelImgOpt{
	display: block;
}
.panelImgOpt{
	background-color: #FFFFFF;
	position: absolute;
	left: 0;
	display: none;
	padding: 5px;
	color: #666666;
	text-shadow: none;
	z-index: 1;
	font-size: 12px;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: 6px;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.panelImgOpt:before{
	content: '';
	display: block;
	width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #FFFFFF;
    font-size: 0;
    line-height: 0;
    position: absolute;
	top: 0;
	left: 13px;
	margin-top: -7px;
}

.panelImgOpt > .moreOpt{
	border-top: 1px solid #DDD;
	margin: 5px -5px 0;
	padding-top: 5px;
}

.panelImgOpt > .moreOpt > div{
	padding: 0 5px;
	cursor: pointer;
}
.panelImgOpt > .moreOpt > div:hover{background-color: #EEEEEE;}



.panelImgOpt > .addLabel i{vertical-align: middle;}
.panelImgOpt > .addLabel input{
	width: calc(100% - 25px);
	font-size: 12px;
	color: #666666;
}

.panelImgOpt > .labelList input, .panelImgOptTg{
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
.panelImgOpt > .labelList > label{
	padding: 2px 5px;
	display: block;
	border-radius: 4px;
	margin-top: 3px;
	background-color: #FDF4F5;
	border: 1px solid #FBE5E8;
}

.panelImgOpt > .labelList .fa-check{
	display: none;
	float: right;
	margin-top: 2px;
}
.panelImgOpt > .labelList > label > input:checked + .fa-check{
	display: block;
	
}


#panelUpImg{
	padding: 12px 0;
}

#panelUpImg > label{
	font-weight: 500;
	font-size: 16px;
	color: #9D0532;
	cursor: pointer;
}

#panelUpImg > label > input{
	position: absolute;
	visibility: hidden;
	opacity: 0;
}

#MpanelData{
	padding: 15px;
}





#MpanelData .col-xs-15{
	padding: 0 10px;
    margin-bottom: 15px;
}

#MpanelData .row{
	margin-left: -10px;
	margin-right: -10px;
}

#inputSocialNet > .row{
	margin-right: -15px;
	margin-left: -15px;
}


#MpanelData label{
	font-weight: 500;
	margin-bottom: 4px;
    display: inline-block;
}

#inputSocialNet > .row > div > input{
	width: calc(100% - 34px);
	display: inline-block;
	border-radius: 0 4px 4px 0;
	border-left: none;
}



#inputSocialNet > .row > div > span{
	height: 34px;
	width: 34px;
	padding: 7px 0;
	display: block;
	float: left;
	text-align: center;
	background-color: #FDCCCD;
	color: #555555;
    border-radius: 4px 0 0 4px;
}

#radioTravel{
	padding-top: 10px;
}

#radioTravel > label{
	width: 50%;
	display: block;
	float: left;
	text-align: center;
}
#radioTravel > label > input{
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
#radioTravel > label > span > i{display: none;}
#radioTravel > label > input:checked + span > i{display: inline-block;}
#radioTravel > label > span{
	border-radius: 50px;
	padding: 5px 20px;
	background-color: #FDCCCD;

}

#descripcionCont small{
	line-height: 1;
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
}


#verifyName{
	position: relative;
	color: #dcaaaa;
}
#verifyName > i{
	position: absolute;
    top: 8px;
    font-size: 16px;
    right: 8px;
    color: #dcaaaa;
    display: none;
}
#verifyName.available > .fa-check{display: block;}
#verifyName.notAvailable > .fa-times{display: block;}

#verifyName.verifying > a, 
#verifyName > span, 
#verifyName.available > a, 
#verifyName.available > span,
#verifyName.notAvailable > a,
#verifyName.notAvailable >span{ display: none; }

#verifyName.verifying > span{
	display: block;
	color: #dcaaaa;
}

@keyframes rotation{
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

#verifyName.verifying .fa-spinner{
	animation: rotation 3s infinite linear;
}

#verifyName.available:after{content: 'nombre disponible';}
#verifyName.notAvailable:after{content: 'escoja otro nombre por favor';}

#verifyName.available > input,
#verifyName.notAvailable > input{padding-right: 30px;}






#mce_editor_0.mceEditorIframe{
	width: 100%!important;
	height: 100% !important;
    display: block;
}
#mce_editor_0_parent.mceEditorContainer > table{
	min-width: 100%;
	min-height: 450px;
}
#mce_editor_0_toolbar{
	text-align: center;
	background-color: #FDCCCD;
}
#mce_editor_0_parent a.mceButtonNormal img, #mce_editor_0_parent a.mceButtonSelected img {
    border-color: #FDCCCD !important;
}
#mce_editor_0_parent span.mceMenuButton img, #mce_editor_0_parent span.mceMenuButtonSelected img {
    border-color: #FDCCCD;
    margin-left: 1px;
}

#mce_editor_0_parent .mceStatusbarBottom{background-color: #FDCCCD;}

#mce_editor_0_parent > table{
	margin: auto;
	border-color: #FBBCBD;
}







